#App-root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  background-color: #bd99f8;
}
.card-root {
  margin-top: 30px;
  margin-bottom: 30px;

  display: flex;
  flex-wrap: wrap-reverse;
  align-self: center;

  width: 90vw;
  min-height: 200px;

  background-color: #f8ec99;

  border-radius: 10px;
  border-width: 1px;
  border-style: solid;

  box-shadow: 5px 10px #e7d75e;
}

.card-conatiner {
  display: flex;
  flex-wrap: wrap-reverse;
  align-self: center;
  font-size: 20px;
  letter-spacing: 4px;
}

.card-video-root {
  margin: 10px;
  padding: 10px;

  flex: 1;

  min-width: 200px;
  max-width: 400px;

  justify-self: center;
  align-self: center;

  border-radius: 10px;
  border-width: 2px;
  border-style: dashed;
}

.card-right-root {
  padding: 20px;

  display: flex;
  flex-direction: column;

  justify-content: space-between;

  flex: 2;
}

.card-img-root {
  padding: 10px;

  flex: 1;
  align-self: center;
  min-width: 200px;
  max-width: 500px;

  border-radius: 10px;
  border-width: 2px;
  border-style: dashed;
}

.card-desc-root {
  margin: 30px;
  flex: 3;
}

.card-desc-lines {
  flex: 1;
  margin-top: 2px;
  margin-bottom: 2px;
}

.card-desc-para {
  background-color: #e2d3fc;

  margin-top: 15px;
  margin-bottom: 5px;
  margin-left: 30px;
  margin-right: 30px;

  padding: 5px;
}

.card-desc-footer-button {
  flex: 1;
  margin-top: 30px;
  justify-self: flex-end;
  align-self: flex-end;
}
